@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

.container-na {
  text-align: center;
  margin-top: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  margin-bottom: 10px;
}

.nav-pills .nav-link {
  color: black;
  position: relative;
  text-decoration: none;
  font-weight: 400;
  margin-right: 15px;
  font-family: 'Jacques Francois', sans-serif;
}
    
    .nav-pills .nav-link.active {
    background-color: white;
    text-decoration: underline;
    color: black;
  }
  .carousel-container {
    margin-top: 20px;
  }

  .carousel {
    width: 100%;
  }
